<!-- Start Page Banner -->
<div class="page-banner-area">
    <div class="container">
        <div class="page-banner-content">
            <h2>Our Services</h2>

            <ul class="pages-list">
                <li><a href="#">Home</a></li>
                <li><span>Services</span></li>
            </ul>
        </div>
    </div>
</div>
<!-- End Page Banner -->


<%= render "shared/services" %>

<%= render "shared/hows" %>

<%= render "shared/reviews" %>
