
<% if Banner.exists? %>
<!-- Start Main Banner Area -->
<% @banners.each do |b| %>

<div class="main-banner-with-category">
    <div class="main-banner-item" style="background-image:url(<%= b.bannerimg_url.to_s %>) !important;">
        <div class="container">
            <div class="main-banner-content" >
                <h1><%= b.title %></h1>
                <p><%= b.sub_title %></p>

            </div>
        </div>
    </div>
</div>
<% end %>
<!-- End Main Banner Area -->


<% else %>



<!-- Start Main Banner Area -->
<div class="main-banner-with-category">
    <div class="main-banner-item">
        <div class="container">
            <div class="main-banner-content">
                <h1>Find The Right Vehicle</h1>

                <div class="tab banner-category-list-tab">
                    <ul class="tabs">
                        <li>
                            <a href="#">New Cars</a>
                        </li>
                        <li>
                            <a href="#">Used Cars</a>
                        </li>
                    </ul>

                    <div class="tab_content">
                        <div class="tabs_item">
                            <form>
                                <div class="row">
                                    <div class="col-lg-4 col-md-6">
                                        <div class="form-group">
                                            <select>
                                                <option>Year</option>
                                                <option>2021</option>
                                                <option>2021</option>
                                                <option>2022</option>
                                                <option>2023</option>
                                                <option>2024</option>
                                                <option>2025</option>
                                                <option>2026</option>
                                                <option>2027</option>
                                                <option>2028</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="col-lg-4 col-md-6">
                                        <div class="form-group">
                                            <select>
                                                <option>Models</option>
                                                <option>Sedan</option>
                                                <option>MPV</option>
                                                <option>SUV</option>
                                                <option>Crossover</option>
                                                <option>Coupe</option>
                                                <option>Convertible</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="col-lg-4 col-md-6 offset-lg-0 offset-md-3">
                                        <div class="form-group">
                                            <select>
                                                <option>Max Price</option>
                                                <option>$10,000</option>
                                                <option>$30,000</option>
                                                <option>$40,000</option>
                                                <option>$50,000</option>
                                                <option>$80,000</option>
                                                <option>$125,000</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <div class="main-search-btn">
                                    <button type="submit"><i class='bx bx-search-alt'></i></button>
                                </div>
                            </form>
                        </div>

                        <div class="tabs_item">
                            <form>
                                <div class="row">
                                    <div class="col-lg-4 col-md-6">
                                        <div class="form-group">
                                            <select>
                                                <option>Year</option>
                                                <option>2021</option>
                                                <option>2021</option>
                                                <option>2022</option>
                                                <option>2023</option>
                                                <option>2024</option>
                                                <option>2025</option>
                                                <option>2026</option>
                                                <option>2027</option>
                                                <option>2028</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="col-lg-4 col-md-6">
                                        <div class="form-group">
                                            <select>
                                                <option>Models</option>
                                                <option>Sedan</option>
                                                <option>MPV</option>
                                                <option>SUV</option>
                                                <option>Crossover</option>
                                                <option>Coupe</option>
                                                <option>Convertible</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="col-lg-4 col-md-6 offset-lg-0 offset-md-3">
                                        <div class="form-group">
                                            <select>
                                                <option>Max Price</option>
                                                <option>$10,000</option>
                                                <option>$30,000</option>
                                                <option>$40,000</option>
                                                <option>$50,000</option>
                                                <option>$80,000</option>
                                                <option>$125,000</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <div class="main-search-btn">
                                    <button type="submit"><i class='bx bx-search-alt'></i></button>
                                </div>
                            </form>
                        </div>

                        <div class="advanced-search">
                            <a href="advanced-search.html">Advanced Search</a>
                        </div>
                    </div>
                </div>

                <div class="banner-category-list">
                    <div class="list">
                        <div class="icon">
                            <a href="pickups.html"><i class="flaticon-car"></i></a>
                        </div>
                        <h3><a href="pickups.html">Pickups</a></h3>
                    </div>

                    <div class="list">
                        <div class="icon">
                            <a href="minivans.html"><i class="flaticon-minivan"></i></a>
                        </div>
                        <h3><a href="minivans.html">Minivans</a></h3>
                    </div>

                    <div class="list">
                        <div class="icon">
                            <a href="sedan.html"><i class="flaticon-sedan"></i></a>
                        </div>
                        <h3><a href="sedan.html">Sedans</a></h3>
                    </div>

                    <div class="list">
                        <div class="icon">
                            <a href="hatchbacks.html"><i class="flaticon-hatchback"></i></a>
                        </div>
                        <h3><a href="hatchbacks.html">Hatchbacks</a></h3>
                    </div>

                    <div class="list">
                        <div class="icon">
                            <a href="suvs.html"><i class="flaticon-suv-car"></i></a>
                        </div>
                        <h3><a href="suvs.html">SUVs</a></h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Main Banner Area -->



<% end %>
