
<!-- Start Team Area -->
<section class="team-area pt-100 pb-70">
    <div class="container">
        <div class="section-title">
            <h2>OUR TEAM</h2>
            <p>Meet our professional team members</p>

            <div class="section-btn">
                <a href="#" class="default-btn">
                    View All
                    <span></span>
                </a>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="single-team">
                    <img src="assets/images/team/team-1.jpg" alt="image">

                    <div class="team-content">
                        <h3>ANDERSON SMITH</h3>
                        <span>Team Leader</span>

                        <div class="share-link">
                            <a href="#" target="_blank"><i class='bx bxl-facebook'></i></a>
                            <a href="#" target="_blank"><i class='bx bx-camera'></i></a>
                            <a href="#" target="_blank"><i class='bx bxl-twitter'></i></a>
                            <a href="#" target="_blank"><i class='bx bxl-pinterest-alt'></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="single-team">
                    <img src="assets/images/team/team-2.jpg" alt="image">

                    <div class="team-content">
                        <h3>HENRY DAVID</h3>
                        <span>CEO/Founder</span>

                        <div class="share-link">
                            <a href="#" target="_blank"><i class='bx bxl-facebook'></i></a>
                            <a href="#" target="_blank"><i class='bx bx-camera'></i></a>
                            <a href="#" target="_blank"><i class='bx bxl-twitter'></i></a>
                            <a href="#" target="_blank"><i class='bx bxl-pinterest-alt'></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="single-team">
                    <img src="assets/images/team/team-3.jpg" alt="image">

                    <div class="team-content">
                        <h3>ROSALINA WILLM</h3>
                        <span>Customer Advisor</span>

                        <div class="share-link">
                            <a href="#" target="_blank"><i class='bx bxl-facebook'></i></a>
                            <a href="#" target="_blank"><i class='bx bx-camera'></i></a>
                            <a href="#" target="_blank"><i class='bx bxl-twitter'></i></a>
                            <a href="#" target="_blank"><i class='bx bxl-pinterest-alt'></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="single-team">
                    <img src="assets/images/team/team-4.jpg" alt="image">

                    <div class="team-content">
                        <h3>JUSTIN NOVAK</h3>
                        <span>Managing Director</span>

                        <div class="share-link">
                            <a href="#" target="_blank"><i class='bx bxl-facebook'></i></a>
                            <a href="#" target="_blank"><i class='bx bx-camera'></i></a>
                            <a href="#" target="_blank"><i class='bx bxl-twitter'></i></a>
                            <a href="#" target="_blank"><i class='bx bxl-pinterest-alt'></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Team Area -->
<!-- Start Partner Area -->
<div class="partner-area pb-100">
    <div class="container">
        <div class="partner-slides owl-carousel owl-theme">
            <div class="partner-item">
                <img src="assets/images/partner/partner-1.png" alt="image">
            </div>

            <div class="partner-item">
                <img src="assets/images/partner/partner-2.png" alt="image">
            </div>

            <div class="partner-item">
                <img src="assets/images/partner/partner-3.png" alt="image">
            </div>

            <div class="partner-item">
                <img src="assets/images/partner/partner-4.png" alt="image">
            </div>

            <div class="partner-item">
                <img src="assets/images/partner/partner-5.png" alt="image">
            </div>

            <div class="partner-item">
                <img src="assets/images/partner/partner-1.png" alt="image">
            </div>

            <div class="partner-item">
                <img src="assets/images/partner/partner-2.png" alt="image">
            </div>

            <div class="partner-item">
                <img src="assets/images/partner/partner-3.png" alt="image">
            </div>

            <div class="partner-item">
                <img src="assets/images/partner/partner-4.png" alt="image">
            </div>

            <div class="partner-item">
                <img src="assets/images/partner/partner-5.png" alt="image">
            </div>
        </div>
    </div>
</div>
<!-- End Partner Area -->
