<!-- Header START -->
<div class="header-text-dark header-nav layout-vertical">
    <div class="header-nav-wrap">
        <div class="header-nav-left">
            <div class="header-nav-item desktop-toggle">
                <div class="header-nav-item-select cursor-pointer">
                    <i class="nav-icon feather icon-menu icon-arrow-right"></i>
                </div>
            </div>
            <div class="header-nav-item mobile-toggle">
                <div class="header-nav-item-select cursor-pointer">
                    <i class="nav-icon feather icon-menu icon-arrow-right"></i>
                </div>
            </div>
        </div>
        <div class="header-nav-right">
            <div class="header-nav-item">
                <div class="dropdown header-nav-item-select nav-notification">
                    <div class="toggle-wrapper" id="nav-notification-dropdown" data-bs-toggle="dropdown">
                        <i class="header-nav-item-select nav-icon feather icon-bell"></i>
                    </div>
                    <div class="dropdown-menu dropdown-menu-end">
                        <div class="nav-notification-header">
                            <h5 class="mb-0">Notifications</h5>
                            <!-- <a href="#" class="font-size-sm">Mark All as Read</a> -->
                        </div>
                        <!-- <div class="nav-notification-body">
                            <div class="nav-notification-item ">
                                <div class="avatar avatar-circle avatar-image" style="width: 40px; height: 40px; line-height: 40px;">
                                    <img src="assets/images/avatars/thumb-8.jpg" alt="">
                                </div>
                                <div class="ms-2">
                                    <span>
                                        <span class="fw-bolder text-dark">Jean Bowman </span>
                                        <span>invited you to new project.</span>
                                    </span>
                                    <div class="font-size-sm fw-bold mt-1">
                                        <i class="feather icon-clock"></i>
                                        <span class="ms-1">4 months ago</span>
                                    </div>
                                </div>
                            </div>
                            <div class="nav-notification-item ">
                                <div class="bg-primary feather font-size-lg icon-info avatar avatar-circle" style="width: 40px; height: 40px; line-height: 40px;">                                            </div>
                                <div class="ms-2">
                                    <span>
                                        <span class="fw-bolder text-dark"> </span>
                                        <span>Please submit your daily report.</span>
                                    </span>
                                    <div class="font-size-sm fw-bold mt-1">
                                        <i class="feather icon-clock"></i>
                                        <span class="ms-1">4 months ago</span>
                                    </div>
                                </div>
                            </div>
                            <div class="nav-notification-item ">
                                <div class="bg-success feather font-size-lg icon-info avatar avatar-circle" style="width: 40px; height: 40px; line-height: 40px;">                                            </div>
                                <div class="ms-2">
                                    <span>
                                        <span class="fw-bolder text-dark"> </span>
                                        <span>Your request has been approved.</span>
                                    </span>
                                    <div class="font-size-sm fw-bold mt-1">
                                        <i class="feather icon-clock"></i>
                                        <span class="ms-1">4 months ago</span>
                                    </div>
                                </div>
                            </div>
                            <div class="nav-notification-item ">
                                <div class="avatar avatar-circle avatar-image" style="width: 40px; height: 40px; line-height: 40px;">
                                    <img src="assets/images/avatars/thumb-4.jpg" alt="">
                                </div>
                                <div class="ms-2">
                                    <span>
                                        <span class="fw-bolder text-dark">Jenifer Ruiz </span>
                                        <span>mentioned you in comment.</span>
                                    </span>
                                    <div class="font-size-sm fw-bold mt-1">
                                        <i class="feather icon-clock"></i>
                                        <span class="ms-1">4 months ago</span>
                                    </div>
                                </div>
                            </div>
                            <div class="nav-notification-item ">
                                <div class="bg-success feather font-size-lg icon-x-circle avatar avatar-circle" style="width: 40px; height: 40px; line-height: 40px;">                                            </div>
                                <div class="ms-2">
                                    <span>
                                        <span class="fw-bolder text-dark"> </span>
                                        <span>Your request has been rejected.</span>
                                    </span>
                                    <div class="font-size-sm fw-bold mt-1">
                                        <i class="feather icon-clock"></i>
                                        <span class="ms-1">4 months ago</span>
                                    </div>
                                </div>
                            </div>
                        </div> -->
                        <div class="nav-notification-footer">
                            <a href="#" class="font-size-sm">View All</a>
                        </div>
                    </div>
                </div>
            </div>


            <div class="header-nav-item">
                <div class="dropdown header-nav-item-select nav-profile" >
                    <div class="toggle-wrapper" id="nav-profile-dropdown" data-bs-toggle="dropdown">

                        <span class="fw-bold mx-1"><%= current_user.username %></span>
                        <i class="feather icon-chevron-down"></i>
                    </div>
                    <div class="dropdown-menu dropdown-menu-end">
                        <div class="nav-profile-header">
                           <div class="d-flex align-items-center">

                                <div class="d-flex flex-column ms-1">
                                    <span class="fw-bold text-dark"><%= current_user.username %></span>
                                    <span class="font-size-sm"><%= current_user.email %></span>
                                </div>
                           </div>
                        </div>
                        <!-- <a href="javascript:void(0)" class="dropdown-item">
                           <div class="d-flex align-items-center">
                               <i class="font-size-lg me-2 feather icon-user"></i>
                               <span>Profile</span>
                            </div>
                        </a> -->
                        <!-- <a href="javascript:void(0)" class="dropdown-item">
                           <div class="d-flex align-items-center">
                               <i class="font-size-lg me-2 feather icon-settings"></i>
                               <span>Settings</span>
                            </div>
                        </a> -->



                        <a href="mailto:support@oceaneleven.co?subject=feedback" class="dropdown-item">
                          <div class="d-flex align-items-center"><i class="font-size-lg me-2 feather icon-life-buoy"></i>
                           <span>Support</span>
                       </div>
                        </a>
                        <%= link_to destroy_user_session_path, method: :delete, class: "dropdown-item" do %>
                           <div class="d-flex align-items-center"><i class="font-size-lg me-2 feather icon-power"></i>
                            <span>Sign Out</span>
                        </div>
                        <% end %>
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Header END -->
