<!-- Start Models Area -->
<section class="models-area pt-100">
    <div class="container">
        <div class="models-slides owl-carousel owl-theme">
            <div class="models-box-item">
                <div class="row">
                    <div class="col-lg-8">
                        <div class="models-image four"></div>
                    </div>

                    <div class="col-lg-4">
                        <div class="models-title">
                            <h3>MOST POPULAR MODELS</h3>
                        </div>
                        <div class="models-item">
                            <div class="models-content">
                                <h3>LISTING INFORMATION</h3>
                                <div class="tag">$75,000</div>
                                <h4>2021 TESLA MODEL SXP-502D</h4>
                            </div>

                            <ul class="models-list">
                                <li>Mileage</li>
                                <li><span>: 128569 miles</span></li>

                                <li>Body Type</li>
                                <li><span>: Sedan</span></li>

                                <li>Doors</li>
                                <li><span>: Two Door</span></li>

                                <li>Engine</li>
                                <li><span>: 2.4L I4 16V MPFI DOHC</span></li>

                                <li>Transmission</li>
                                <li><span>: 4-Speed Automatic</span></li>

                                <li>Drive Train</li>
                                <li><span>: Front Wheel Drive</span></li>

                                <li>Exterior Color</li>
                                <li><span>: Red</span></li>

                                <li>Interior Color</li>
                                <li><span>: Beige</span></li>

                                <li>Condition</li>
                                <li><span>: New</span></li>

                                <li>Fuel</li>
                                <li><span>: GAS</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="models-box-item">
                <div class="row">
                    <div class="col-lg-8">
                        <div class="models-image"></div>
                    </div>

                    <div class="col-lg-4">
                        <div class="models-title">
                            <h3>MOST POPULAR MODELS</h3>
                        </div>
                        <div class="models-item">
                            <div class="models-content">
                                <h3>LISTING INFORMATION</h3>
                                <div class="tag">$95,000</div>
                                <h4>2021 KIA SOUL XC 60</h4>
                            </div>

                            <ul class="models-list">
                                <li>Mileage</li>
                                <li><span>: 128569 miles</span></li>

                                <li>Body Type</li>
                                <li><span>: Sedan</span></li>

                                <li>Doors</li>
                                <li><span>: Two Door</span></li>

                                <li>Engine</li>
                                <li><span>: 2.4L I4 16V MPFI DOHC</span></li>

                                <li>Transmission</li>
                                <li><span>: 4-Speed Automatic</span></li>

                                <li>Drive Train</li>
                                <li><span>: Front Wheel Drive</span></li>

                                <li>Exterior Color</li>
                                <li><span>: Red</span></li>

                                <li>Interior Color</li>
                                <li><span>: Beige</span></li>

                                <li>Condition</li>
                                <li><span>: New</span></li>

                                <li>Fuel</li>
                                <li><span>: GAS</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="models-box-item">
                <div class="row">
                    <div class="col-lg-8">
                        <div class="models-image two"></div>
                    </div>

                    <div class="col-lg-4">
                        <div class="models-title">
                            <h3>MOST POPULAR MODELS</h3>
                        </div>
                        <div class="models-item">
                            <div class="models-content">
                                <h3>LISTING INFORMATION</h3>
                                <div class="tag">$99,000</div>
                                <h4>2021 SUBARU XC-60</h4>
                            </div>

                            <ul class="models-list">
                                <li>Mileage</li>
                                <li><span>: 128569 miles</span></li>

                                <li>Body Type</li>
                                <li><span>: Sedan</span></li>

                                <li>Doors</li>
                                <li><span>: Two Door</span></li>

                                <li>Engine</li>
                                <li><span>: 2.4L I4 16V MPFI DOHC</span></li>

                                <li>Transmission</li>
                                <li><span>: 4-Speed Automatic</span></li>

                                <li>Drive Train</li>
                                <li><span>: Front Wheel Drive</span></li>

                                <li>Exterior Color</li>
                                <li><span>: Red</span></li>

                                <li>Interior Color</li>
                                <li><span>: Beige</span></li>

                                <li>Condition</li>
                                <li><span>: New</span></li>

                                <li>Fuel</li>
                                <li><span>: GAS</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Models Area -->
