<section class="about-area ptb-100">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
              <% @headers.take(1).each do |a| %>
                <div class="about-image">
                    <img src="<%= a.headerimg_url.to_s %>" alt="image">
                </div>
            </div>

            <div class="col-lg-6">
                <div class="about-content">
                    <div class="title">
                        <h3><%= a.company_title %></h3>
                        <span><%= a.company_sub_title %></span>
                    </div>

                      <p><%= raw(a.headersubtext) %> </p>

                </div>
                <% end %>

                <div class="section-btn">
                  <a href="https://www.unitluxe.co.uk/abouts/our-sponsors" class="default-btn">   About Our Sponsor's</a>
                  <a href="mailto:hq@unitluxe.co.uk?subject=Sponsor's " class="default-btn">
                  Contact Us
                  </a>

                </div>

            </div>
        </div>
    </div>
</section>
